<section>
	<div class="container">
		<div>
			<h1> Order by ID </h1>

				<form role="form">
					<div class="col-sm-offset-1 col-sm-9 col-xs-11">
					
					<input type="text" name="search" ng-model="orderid" placeholder="Search Users ..." style="width:10%">
					<button ng-click="getorder()"> Search</button>

					<br><br>

					</div>

		            <table class="table table-condensed table-hover table-responsive">
		               <thead>
		                <tr>
		                  <th>Order Id</th>
		                  <th>Last Name</th>
		                  <th>Email</th>
		                  <th>Address</th>
		                  <th>Company</th>

		                </tr>
		              </thead>
		              <tbody>
		                <tr>
		                <td>{{order.id}} 
		                </td>
		                <td>{{order.name}}
		                </td>
		                <td>{{order.email}}
		                </td>                  
		                <td>{{order.errors[0].message}}  - {{order.errors[0].rule}}   
		                </td>
		                <td>{{order.valid}}
		              </tr>
		              </tbody>
		            </table>
		        </form>

		</div>
	</div>
</section>