<section>
	<div class="container">
		<div>
			<h1> Order Management </h1>
			 <center><button class="btn btn-success" ng-click="navigate()"> <i class="glyphicon glyphicon-plus-sign"></i> search by Order Id </button></center> <br><br>
			 <center><button class="btn btn-success" ng-click="valid()"> <i class="glyphicon glyphicon-plus-sign"></i> View all Valid </button></center> <br><br>
			 <center><button class="btn btn-success" ng-click="invalid()"> <i class="glyphicon glyphicon-plus-sign"></i> View all Invalids</button></center> <br><br>			 			 

				<form role="form">
					<div class="col-sm-offset-1 col-sm-9 col-xs-11">
						<input type="text" name="search" ng-model="search" placeholder="Search Users ..." style="width:100%"><br><br>
					</div>

		            <table class="table table-condensed table-hover table-responsive">
		               <thead>
		                <tr>
		                  <th>Order Id</th>
		                  <th>Last Name</th>
		                  <th>Email</th>
		                  <th width="30%">Address</th>
		                  <th>Company</th>

		                </tr>
		              </thead>
		              <tbody>
		                <tr data-ng-repeat="user in users" > 
		                <td>{{user.id}} 
		                </td>
		                <td>{{user.name}}
		                </td>
		                <td>{{user.email}}
		                </td>                  
		                <td>
		                <tr data-ng-repeat="errorlist in user.errors">
			                <td>{{errorlist.message}}  </td>
			                <td>{{errorlist.rule}}   </td>
		                </tr>
		                </td>
		                <td>{{user.valid}}
		              </tr>
		              </tbody>
		            </table>
		        </form>

		</div>
	</div>
</section>