<section>
	<div class="container">
		<div>
			<h1> Order Management </h1>
			 <center>
			 <button class="btn btn-success" ng-click="navigate()"> <i class="glyphicon glyphicon-plus-sign"></i> search by Order Id </button>
			 <button class="btn btn-success" ng-click="valid()"> <i class="glyphicon glyphicon-plus-sign"></i> View all Valid </button>
			<button class="btn btn-success" ng-click="invalid()"> <i class="glyphicon glyphicon-plus-sign"></i> View all Invalids</button>
			<button class="btn btn-success" ng-click="orders()"> <i class="glyphicon glyphicon-plus-sign"></i> View all Orders</button>			
			</center> <br><br>		



				<form role="form">

					<div class="col-sm-offset-1 col-sm-9 col-xs-11">
						<input type="text" name="search" ng-model="search.$" placeholder="Search Users ..." style="width:100%"><br><br>
					</div>				

		            <table class="table table-condensed table-hover table-responsive">
		               <thead>
		                <tr>
		                  <th>Order Id</th>
		                  <th>Name</th>
		                  <th ng-show="type=='all'">Valid</th>
		                </tr>
		              </thead>
		              <tbody>
		                <tr data-ng-repeat="user in users | filter:search" ng-click="detail(user.id)" > 
		                <td>{{user.id}} 
		                </td>
		                <td>{{user.name}}
		                </td>
		                <td ng-show="type=='all'">{{user.valid}}</td>
		              </tr>
		              </tbody>
		            </table>
		        </form>

		</div>
	</div>
</section>