<section>
	<div class="container">
		<div>
			<h1> Order Management </h1>
			 <center>
			 <button class="btn btn-success" ng-click="navigate()"> <i class="glyphicon glyphicon-plus-sign"></i> search by Order Id </button>
			 <button class="btn btn-success" ng-click="valid()"> <i class="glyphicon glyphicon-plus-sign"></i> View all Valid </button>
			<button class="btn btn-success" ng-click="invalid()"> <i class="glyphicon glyphicon-plus-sign"></i> View all Invalids</button>
			</center> <br><br>			 			 

				<form role="form">

		            <table class="table table-condensed table-hover table-responsive">
		               <thead>
		                <tr>
		                  <th>Order Id</th>
		                  <th>Name</th>
		                  <th>Email</th>
		                  <th>State</th>
		                  <th>Zipcode</th>
		                  <th>birthday</th>
		                  <th>Year</th>
		                  <th>Valid</th>
		                  <th width="30%" >Errors</th>

		                </tr>
		              </thead>
		              <tbody>
		                <tr data-ng-repeat="user in users" > 
		                <td>{{user.id}} 
		                </td>
		                <td>{{user.name}}
		                </td>
		                <td>{{user.email}}
		                </td>   
		                <td>{{user.state}}               
		                </td>
		                <td>{{user.zipcode}}
		                </td>
		                <td>{{user.birthday}}
		                </td>
		                <td>{{user.year}}
		                </td>
		                <td>{{user.valid}}
		                </td>		                
		                <td>
		                <ul data-ng-repeat="errorlist in user.errors">
							<li> {{errorlist.message}} - {{errorlist.rule}} </li>
						</ul>
		                </td>
		              </tr>
		              </tbody>
		            </table>
		        </form>

		</div>
	</div>
</section>